// PRIMARY
$SoftBlue: hsl(231, 69%, 60%);
$SoftRed: hsl(0, 94%, 66%);

// SECONDARY
$GrayishBlue: hsl(229, 8%, 60%);
$VeryDarkBlue: hsl(229, 31%, 21%);

// PADDINGS
$paddingGlobal : 0 140px;
$paddingGlobalMobile : 0 25px;

// MARGIN
$marginPara: 30px 0;

// RADIUS
$btn-radius : 5px;
